<app-loading *ngIf="loading"></app-loading>
<div class="formulario-login">
  <form [formGroup]="recoverPasswordForm">
    <img class="icono-login" src="assets/img/logo_navbar.png">
    <h2 class="reserva_sala">Ingresa tu correo o nombre de usuario para recuperar tu contraseña.</h2>
    <mat-form-field class="ancho-completo">
      <mat-label>Usuario o Correo</mat-label>
      <input type="text" matInput formControlName="email">
    </mat-form-field>
    <button mat-raised-button color="warn" class="ancho-completo margen-espacio-boton-abajo"
      [disabled]="!recoverPasswordForm.valid">Recuperar</button>
    <a mat-button [routerLink]="['/']" class="ancho-completo">Volver</a>
  </form>
</div>
